<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css" type="text/css">
    <title>New Article</title>
</head>

<body>

    <div class="container-all">

        <aside class="aside aside-nav">
            <div class="auth-links">
                <% if(!user) { %>
                    <a href="/auth/login">LOGIN</a>
                    <a href="/auth/register">REGISTER</a>
                    <%} else { %>
                        <a href="/auth/logout">LOGOUT</a>
                        <% } %>
            </div>
        </aside>
        <main>
            <div class="articles-container">

                

                <a href="/articles/new">New</a>

                <% articles.forEach(article=> { %>
                    <div class="article-wrapper">
                        <div class="article">
                            <div class="article-title">
                                <%= article.title %>
                            </div>
                            <div class="article-body">
                                <%= article.body%>
                            </div>
                            <div class="read-more">
                                <a href="/articles/<%= article.id %>">Read More</a>
                                <div class="author">

                                    <%= article.author%>
                                </div>
                            </div>
                        </div>

                    </div>

                    <% }); %>


            </div>
        </main>
        <aside class="aside aside-writer">
            <div class="writer">
                <%- include('./partials/_writer') %>
            </div>
        </aside>

    </div>


</body>

</html>